.services_cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;

}
.servieces_card {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-bg-variant);
    border: 1px solid var(--color-primary);
    border-radius:0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
    margin: 0 1rem;
    transition: var(--transition);
}
.servieces_card:hover{
    background: transparent;
}



.services_list {
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem;

}
.services_list_item {
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
}
.services_list_item > h5 {
    font-size: 1rem;
}

.servieces_card > .h5 {
    background: var(--color-primary);
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    padding-top: 1.7rem;
    height: 5rem;
    border-radius:0 0 2rem 2rem;
    color: black;

}
.servieces_list_icon{
    color: var(--color-primary);
}

@media screen and (max-width: 1027px) {
    .services_cards {
        grid-template-columns: 1fr;
    }
    .services_cards > div {
        width: 80%;
        margin: 0 auto;
    }
    .services_list {
        padding: 2rem 5rem;
        margin: 2rem;

    }

}
    
/* ================== SM (Mobile ) ================*/

@media screen and (max-width: 600px) {

.container_services{
            margin: 0 1rem;

}
    .services_cards > div {
        width: 100%;
    }
    .services_list {
    padding: 0 0 ;
}

}